{% extends  'template.html'%}
{% block content %}
<center>
<h1> informacion de GAS en español</h1>
<br>
<br>
<div class="morecenter">
<hr>
<h1> manifiesto </h1>
<h2>"que desagradable , incomodo o/y aburrido   es gastar , una herramienta para ser un poco conciente al GAStar"</h2>
<p>gastar muchas veces no es muy agradable , si se trata de algo que no nos gusta o algo muy costo que no pensamos que es muy util </p>
<p>y muchas veces no hay con que gastar (no hay <<"plata">> o dinero)</p>
<p>se piensa que se puede hablar de forma vulgar y cultural para hablar de los temas economicos  como algo "no muy serio" con motivo de olvidar las deudas en este dialogo </p>
<br>
<br>
<hr>
<h1> objetivo </h1>
<h2>1) reflexionar de los gastos propios y ver su efecto apartir de una reflexion </h2>
<code> <b>como:</b> voy a comprar un computador ... 
<br>
¿ lo nesesito ? 
<br>
¿ es nesesario que sea el mejor y ultimo modelo ? 
<br>
¿ vale la pena ?  
<br>
</code>
<h2>y pensar si puede tener una concecuencia a futuro o en el futuro</h2>
<code>
<br>
hubiera podido comer pizza si no gastara en el computador	
<br>
¿me tocara ir al la escuela a pie el resto del año?
<br>
</code>
<h2> ... regular un poco los gastos con <b>GAS</b> para aportar al mundo mediante deciones tomadas apartir de las reflexiones para tener un mejor consumo responsable  </h2>
<p> se penso en un proyecto para tener una herramienta para manejar los gastos y medirlos </p>
<p> que pudiera ayudar y influir en el dia a dia del gasto </p>
<p> que cualquiera lo pueda usar y que sea codigo abierto y muy seguro </p>
<h2>
2) hacer una herramienta donde se puedan ingresar gastos privados y poderlos conpartir con el jefe , papas , prestamistas o ingresar gastos comunitarios ...<br>
con una herramienta que ayuda reflexinar, ser mas trasnparente y evitar problemas
</h2>
</div>
</center>
{% endblock %}